@page "/counter"
@page "/counter2"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p role="status">Current count doubled: @currentCountDoubled</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private int currentCountDoubled = 0;

    private void IncrementCount()
    {
        currentCount++;
        currentCountDoubled = currentCount * 2;
    }
}
