@page "/setfocus"

@code {
    ElementReference textInput;
}

<h3>Set focus example</h3>

<input @ref="textInput" />
<button class="btn btn-primary" @onclick="() => textInput.FocusAsync()">Set focus</button>