@using Components.Pages
@using Data.Models.Interfaces
@using Components.RazorComponents
@using Data.Models

@inherits TestContext

@code {
    public IndexTest()
    {
        Services.AddScoped<IBlogApi, BlogApiMock>();
    }

    [Fact(DisplayName ="Checks that the Index component shows 10 posts")]
    public void Shows10Blogposts()
    {
        // Act
        var cut = Render(@<Index />);
        // Assert that the content has 10 article tags (each representing a blogpost)
        Assert.Equal(10,cut.FindAll("article").Count());
    }

    [Fact(DisplayName ="Checks if log in is showed")]
    public void ShouldShowLogin()
    {
        // Arrange
        this.AddTestAuthorization();
        // Act
        var cut = Render(@<LoginStatus />);
        // Assert that there is a link with the text Log in
        Assert.Equal("Log in",cut.Find("a").InnerHtml);
    }

    [Fact(DisplayName ="Checks if logout is showed")]
    public void ShouldShowLogout()
    {
        // Arrange
        var authContext = this.AddTestAuthorization();
        authContext.SetAuthorized("Testuser", AuthorizationState.
        Authorized);
        // Act
        var cut = Render(@<LoginStatus />);
        // Assert that there is a link with the text Log out
        Assert.Equal("Log out",cut.Find("a").InnerHtml);
    }

    [Fact(DisplayName = "Test if js method 'showConfirm' is called upon using JS interop")]
    public void ShouldShowConfirm()
    {
        // Arrange
        var moduleInterop = this.JSInterop.SetupModule("/_content/Components/RazorComponents/ItemList.razor.js");
        moduleInterop.Setup<bool>("showConfirm", "Are you sure?").SetResult(true);

        var cut = RenderComponent<ItemList<BlogPost>>(parameters => parameters
            .Add(_ => _.Items, new() { new BlogPost() { Title = "Title" }})
            .Add(_ => _.ItemTemplate, blogpost => $"<span>{blogpost.Title}</span>"));

        // Act
        var buttons = cut.FindAll("button");
        buttons.First(_ => _.ClassList.Contains("btn-danger")).Click();

        // Assert
        JSInterop.VerifyInvoke("showConfirm");
    }
}